*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
}


#body{
    color: white;
    background: pink;
    width: 90vw;
    display: flex; 
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    justify-content: space-evenly;
    height: 95vh;
    margin: auto;
}

#body h1 {
    font-size: 2rem;
    color: white;
}

span {
    color: red;
}

#inputbody{
    /* background-color: aqua; */
    width: 60vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#Boy {
    color: white;
    border: 5px solid white;
    border-radius: 10px;
    padding: 15px 30px;
    background: transparent;
    max-width: 190px;
   }
   
   #Boy:active {
    box-shadow: 2px 2px 15px #8707ff inset;
   }
   
   #Girl {
    color: white;
    border: 5px solid white;
    border-radius: 10px;
    padding: 15px 30px;
    background: transparent;
    max-width: 190px;
   }

   #Girl:active {
    box-shadow: 2px 2px 15px #8707ff inset;
   }

   #input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
   }

   #bodytext {
     /* background-color: aqua; */
     width: 50vw;
     height: 30vh;
     flex-direction: column;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
   }

   button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 22px 20px 25px;
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #e8e8e8;
    border-color: #ffe2e2;
    border-style: solid;
    border-width: 9px;
    border-radius: 35px;
    font-size: 25px;
    font-weight: 900;
    color: rgb(134, 124, 124);
    font-family: monospace;
    transition: transform 400ms cubic-bezier(.68,-0.55,.27,2.5), 
    border-color 400ms ease-in-out,
    background-color 400ms ease-in-out;
    word-spacing: -2px;
  }
  
  @keyframes movingBorders {
    0% {
      border-color: #fce4e4;
    }
  
    50% {
      border-color: #ffd8d8;
    }
  
    90% {
      border-color: #fce4e4;
    }
  }
  
  button:hover {
    background-color: #eee;
    transform: scale(105%);
    animation: movingBorders 3s infinite;
  }
  
  button svg {
    fill: rgb(255, 110, 110);
    margin-left: 13px;
  }
  
  @keyframes beatingHeart {
    0% {
      transform: scale(1);
    }
  
    15% {
      transform: scale(1.15);
    }
  
    30% {
      transform: scale(1);
    }
  
    45% {
      transform: scale(1.15);
    }
  
    60% {
      transform: scale(1);
    }
  }
  
  button:hover svg {
    transform: scale(105%);
    border-color: #ffd8d8;
    animation: beatingHeart 1.2s infinite;
  }

  @media screen and (max-width:700px) {
    #body h1 {
        font-size: 1rem;
        color: white;
    }

    #inputbody{
        /* background-color: aqua; */
        width: 50vw;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
  }